.Rproj.user
.Rhistory
.RData
.Ruserdata
*dbc.php
*login.php
*dbconnect.R
*.dcf
rsconnect/shinyapps.io/markewing/kpt-eggdrop.dcf
rsconnect/shinyapps.io/markewing/kpt-eggdrop.dcf
packrat/lib*/
packrat/src/
.DS_Store
